# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
**/migrations/__pycache__/
*.py[cod]
*$py.class
ingest/__pycache__/
R_Lake/__pycache__/
base/__pycache__/
accounts/__pycache__/
visualization/__pycache__/
accounts/migrations/__pycache__/
ingest/migrations/__pycache__/
base/migrations/__pycache__/
visualization/migrations/__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Django specific
local_settings.py
db.sqlite3
media/
staticfiles/
logs/

# Virtual environments
venv/
ENV/
.env
.env.*
.venv
.venv.*

# IDEs
.idea/
*.iml

# Misc
.DS_Store


db.sqlite3
