# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Django specific
local_settings.py
db.sqlite3
media/
staticfiles/
logs/

# Virtual environments
venv/
ENV/
.env
.env.*
.venv
.venv.*

# IDEs
.idea/
*.iml

# Misc
.DS_Store

